@import './abstracts/fonts';
@import './abstracts/mixins';

@import './base/globals';

@import './components/header';

/* Hero */

.hero {
    background: #ccc url(https://source.unsplash.com/random/1920x1080) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__contain {
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__title {
    font-size: 8rem;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
}


/* Grid */
.grid {
    padding: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: 
        'section'
        'aside'
        'card__container'
    ;
}
.section {
    grid-area: section;
    padding: 1rem;
}
.section__titulo {
    font-size: 2.3rem;
}
.section__text {
    margin: 2rem 0;
}
.aside {
    background-color: #111;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    grid-area: aside;
}
.aside__title {
    font-size: 2.3rem;
}
.aside__wrapper {
    margin: 2rem 0;
    list-style-type: none;
}
.card__container {
    grid-area: card__container;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.card {
    border-radius: 1rem;
    min-height: 150px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media ( min-width: 992px ) {
    .grid {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            'section aside'
            'card__container card__container'
        ;
    }
    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        transition: all ease-in-out .2s;
    }
    .card:hover {
        transform: scale(110%);
        background-color: palevioletred;
    }
}

/* Footer */
.footer {
    background-color: #111;
    color: #fff;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}